
#account_panel {
    visibility: hidden;
}

#account_inner_cont {
    background-color: $colourDB32VeryDarkPurple;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 20% 20% 16% auto;
    grid-template-columns: 100%;
    grid-gap: 12px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

#account_top_info_cont {
    background-color: $colourDB32SteelGrey;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.account_input {
    width: 80%;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 0.1em;
    border: $colourDB32Black solid 4px;
    padding: 10px;
    &:hover {
        transform: scale(1.05);
    }
}

.account_accept_button_cont {
    position: relative;
    height: 100%;
    width: 100%;
    cursor: $cursorHand;
    &:hover {
        filter: brightness(150%);
        transform: scale(1.1);
    }
}

.account_accept_button_text {
    position: absolute;
    width: 57%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: $colourDB32VeryDarkPurple;
}
.account_accept_button {
    height: 100%;
}

#account_warning_text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}


