
#create_account_game_panel {
    visibility: hidden;
    //display: none;
}

#create_account_inner_cont {
    background-color: $colourDB32VeryDarkPurple;
    height: 100%;
    display: grid;
    grid-template-rows: 30% 15% 15% 13% auto;
    grid-template-columns: 100%;
    grid-gap: 12px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

#create_account_top_info_cont {
    background-color: $colourDB32SteelGrey;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.create_account_button_cont {
    position: relative;
    height: 100%;
    width: 100%;
    cursor: $cursorHand;
    &:hover {
        filter: brightness(150%);
        transform: scale(1.1);
    }
}

.create_account_button {
    height: 100%;
}

#create_account_bottom_info_cont {
    background-color: $colourDB32Rose;
    width: 100%;
    height: 100%;
}

#create_account_warning_heading {
    padding-top: 6px;
    font-size: 22px;
    font-weight: bold;
}

#create_account_warning_text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}

.create_account_button_text {
    position: absolute;
    width: 57%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: $colourDB32VeryDarkPurple;
}

.create_account_input {
    width: 80%;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 0.1em;
    border: $colourDB32Black solid 4px;
    padding: 10px;
    &:hover {
        transform: scale(1.05);
    }
}