@import "Variables";

#background_img {
  image-rendering: pixelated;
  position: absolute;
  height: 100%;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

#background_shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#main_columns {
  //background-color: rgba(95, 205, 228, 0.1);
  position: absolute;
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-gap: 5%;
  width: 100%;
  height: 100%;
}

#left_bar {
  //background-color: rgba(255, 255, 0, 0.1);
  display: grid;
  width: 100%;
  //border: grey solid 2px;
}

#center_bar {
  //background-color: rgba(255, 255, 0, 0.1);
  //display: grid;
  //justify-items: center;
  //border: grey solid 2px;
}

#right_bar {
  //background-color: rgba(255, 255, 0, 0.1);
  //border: grey solid 2px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-gap: 2%;
}

.bottom_texts {
    color: $colourDB32White;
    font-size: 1.2vw;
    align-self: end;
    user-select: none;
    cursor: pointer;
    bottom: 1vw;
}

#dmp_button {
    background-color: $colourDB32VeryDarkPurple;
    margin: 1vw;
    width: 8vw;
    border: $colourDB32White solid 0.3vw;
    cursor: pointer;
    user-select: none;
    &:hover {
        filter: brightness(150%);
        transform: scale(1.1);
    }
}

#partners_credits_cont {
    position: absolute;
    left: 2vw;
}

#title_cont {
  display: grid;
  grid-gap: 1vw;
  justify-items: center;
}

#new_character_continue_cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6%;
  justify-items: center;
  width: 100%;
  user-select: none;
}

#title_img {
  width: 100%;
  padding-top: 6px;
    user-select: none;
}

.title_button_unselected {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 2vw;
  font-size: 1vw;
  color: $colourDB32White;
  background-color: $colourDB32Red;
  border: $colourDB32White solid 0.3vw;
  cursor: pointer;
  &:hover {
    filter: brightness(150%);
    transform: scale(1.1);
  }
}

.title_button_selected {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 2vw;
  font-size: 1vw;
  color: $colourDB32White;
  background-color: $colourDB32Rose;
  border: $colourDB32White solid 0.3vw;
}

#play_inputs_cont {
    position: relative;
  display: grid;
  justify-items: center;
  width: 100%;
  height: 3.5vw;
}

.home_input {
  width: 100%;
    margin-bottom: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
  background-color: $colourDB32White;
  cursor: pointer;
  text-align: center;
  color: $colourDB32VeryDarkPurple;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 0.1em;
  border: $colourDB32White solid 0.3vw;
  &:hover {
    font-size: 1.6vw;
    transform: scale(1.05);
  }
}

#show_password {
    visibility: hidden;
    position: absolute;
    width: 2.9vw;
    padding: 0.3vw;
    left: -50px;
    cursor: pointer;
    user-select: none;
    &:hover {
        filter: brightness(150%);
        transform: scale(1.2);
    }
}

.show_password_active {
    background-color: $colourDB32White;
}

.show_password_inactive {
    background-color: $colourDB32VeryDarkPurple;
}

#center_button {
    width: 100%;
    height: 70%;
    margin-top: 1vw;
}

#antisocial_bar {
    padding-top: 8px;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-gap: 5%;
    user-select: none;
}

.antisocial_button {
    display: grid;
    border: $colourDB32White solid 0.3vw;
    width: 4vw;
    height: 4vw;
    cursor: pointer;
    &:hover {
        filter: brightness(150%);
        transform: scale(1.1);
    }
}

.antisocial_icon {
    width: 80%;
    align-self: center;
    justify-self: center;
}

#notdiscord_button {
    background-color: #7289da;
}

#notreddit_button {
    background-color: #ff3f18;
}

#notfacebook_button {
    background-color: #4267b2;
}

#notwiki_button {
    background-color: #002a32;
}


#news_cont {
    width: 91%;
    display: grid;
    justify-items: center;
    text-align: center;
    color: $colourDB32White;
    background-color: $colourDB32VeryDarkPurple;
    font-weight: bold;
    padding-bottom: 1vw;
    user-select: none;
    cursor: pointer;
    border: $colourDB32White solid 0.3vw;
    &:hover {
        filter: brightness(110%);
        transform: scale(1.05);
    }
}

#news_header {
    margin: 0;
    padding: 10px;
    font-size: 2vw;
}

#news_date {
    margin: 0;
    font-size: 1.5vw;
}

#news_title {
    font-size: 1.5vw;
}

#news_image {
    width: 90%;
    user-select: none;
}

#renderer_language_cont {
    position: absolute;
    right: 2vw;
}

#language_list {
    position: absolute;
    right: 2vw;
    bottom: 2vw;
    text-align: center;
    color: $colourDB32White;
    background-color: $colourDB32VeryDarkPurple;
    font-size: 1vw;
    margin: 0;
    padding: 1vw;
    border: $colourDB32White 0.3vw solid;
    user-select: none;
    //visibility: hidden;
}

.language_option {
    cursor: pointer;
    display: block;
    line-height: 2vw;
    &:hover {
        //background-color: $colourDB32Blurple;
        background-color: $colourDB32VeryDarkPurple;
        //color: $colourDB32White;
        font-weight: bold;
        //transform: scale(1.1);
        filter: brightness(150%);
        line-height: 2.5vw;
        border: $colourDB32White 0.3vw solid;
        //font-size: 14px;
    }
}

#center_text_cont {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 4vw;
    text-align: center;
    user-select: none;
    color: #dadada;
    transform: translate(-50%, -50%);
}

// Need to have the text container be separate so the transform
// rules don't get overwritten by the bounce animation.
#center_text {

}

.scale-up-center {
  -webkit-animation: scale-up-center 2s ease-out infinite alternate both;
  animation: scale-up-center 2s ease-out infinite alternate both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*
#main_tooltip {
  position: absolute;
  width: 800px;
  max-width: 80%;
  top: 15%;
  left: 50%;
  padding: 20px;
  transform: translateX(-50%);
  text-align: center;
  color: $colourDB32VeryDarkPurple;
  background-color: $colourDB32WhiteOpacity80;
  visibility: hidden;
}
*/

/*
#warning_message {
  text-align: center;
  color: $colourDB32Red;
  background-color: $colourDB32White;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  visibility: hidden;
}
}*/
/*
#controls {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  height: 48%;
  text-align: center;
  color: $colourDB32White;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
}*/
/*
.controls_image {
  transform: scale(4);
}*/
/*
#credits {
  position: absolute;
  bottom: 0;
  right: 30px;
  height: 5%;
  background-color: $colourDB32White;
  padding: 6px;
  line-height: 5vh;
  user-select: none;
  &:hover {
    transform: scale(1.1);
    filter: brightness(110%);
  }
}*/
/*
#partners_button {
    position: absolute;
    bottom: 0;
    left: 30px;
    height: 5%;
    background-color: $colourDB32White;
    padding: 6px;
    line-height: 5vh;
    user-select: none;
    &:hover {
        transform: scale(1.1);
        filter: brightness(110%);
    }
}*/

#partners_cont {
    position: absolute;
    overflow: auto;
    display: inline-block;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 85%;
    background-color: $colourDB32VeryDarkPurple;
    border: $colourDB32White 0.3vw solid;
    user-select: none;
    visibility: hidden;
}

#partners_close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 13px;
    font-size: 2vw;
    background-color: $colourDB32White;
    cursor: pointer;
    &:hover {
        background-color: $colourDB32VeryDarkPurple;
        color: $colourDB32White;
    }
}

#partners_header {
    background-color: $colourDB32White;
    color: $colourDB32VeryDarkPurple;
    padding: 24px;
    font-size: 1.5vw;
    font-weight: bold;
}

#iogames_space_logo {
  width: 75%;
  padding: 20px;
}

#crazy_games_logo {
  width: 80%;
  padding: 20px;
}

#x1p_logo {
    width: 35%;
    padding: 20px;
}

#home_ad_banner {
  position: absolute;
  width: 300px;
  height: 250px;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%);
  border: 12px solid $colourDB32WhiteOpacity80;
}

#preroll_cont {
  position: absolute;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $colourDB32Black;
}

#adblock_warning {
    position: absolute;
    z-index: -1;
}