/*
sass --watch scss/Main.scss:main.css
*/

@import "Variables";
@import "Home";
@import "GeneralGUI";
@import "StatPanel";
@import "Tooltips";
@import "Panels";
@import "Inventory";
@import "VirtualDPad";
@import "CraftingPanel";
@import "DungeonPanel";
@import "BankPanel";
@import "SpellBar";
@import "AccountPanel";
@import "CreateAccountPanel";
@import "GameOverPanel";
@import "ClanPanel";
@import "GeneratorPanel";
@import "HintPanel";
@import "RespawnPanel";
@import "ShopPanel";
@import "TasksPanel";
@import "PanelTemplate";


#game_canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
}

body {
  background-color: $colourDB32Black;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

::placeholder {
  color: $colourDB32IronGrey;
  font-size: 1.5vw;
}

.press_start_font {
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 0.1em;
  line-height: 1.2;
}